<div class="list-group-item">
    <div class="media">

        <div class="row">
            <div class="col-xs-12 text-left" >
                Titre: {{ information.titre }}
            </div>
        </div>

        <div class="row">
            <div class="media-body">
                <div class="col-md-12">

                    <div class="col-md-12 text-danger text-left">
                        <ul class="list-inline list-unstyled">
                            <li><span> Date de publication </span></li>
                            <li>|</li>
                            <li>
                                12 aimes
                            </li>
                            <li>|</li>
                            <li>
                                2O commentaires
                            </li>
                        </ul>
                    </div>
                    <div class=" text-justify">
                        {{ information.contenu }}
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12 text-right">
                <ul class="list-inline list-unstyled ">
                    <li>
                        <a href="#">Voir détails</a>

                    </li>
                    <li>|</li>
                    <li >
                        <a>Modifier</a>

                    </li>
                    <li>|</li>
                    <li >
                        <a href="#" class="deleteColisBtn">Supprimer</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

