body{
	margin: 10px;
}

.table_comptes{
	margin-left: 50px;
	padding: 10px;
	width: 300px;
	max-width: 500px;
	min-width: 500px;
}

.table_comptes td{
	height: 50px;
}

.hidden_start{
	visibility: hidden;
}