{% extends 'AppBundle:Bases:base.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block title %}Profile{% endblock %}
{% block body %}
    <div class="container-fluid bg-1 text-center">
        <div class="row">
            {% block breadcrumb %}
            {% endblock %}

            {% block user_left_menu %}

            {% endblock %}

            {% block fos_user_content %}

            {% endblock fos_user_content %}

        </div>
    </div>
{% endblock %}


{% block javascripts %}
{% endblock %}
