{% extends "FOSUserBundle::layout.html.twig" %}

    {% block fos_user_content %}
        <div class="col-xs-12">
            <ol class="breadcrumb" >
                <li><a href="{{ path('homepage') }}"><i class="glyphicon glyphicon-home"></i> Accueil</a></li>
                <li> <a href="{{ path("fos_user_profile_show") }}">Générale</a></li>
                <li class="active"> Modification </li>
            </ol>
        </div>
    <div class="col-md-10 text-center">
            {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
    </div>
    {% endblock fos_user_content %}

{% block javascripts %}
{% endblock %}
